body{
    margin: 0;
    padding: 0;
  }

.pg{
  font-size: 24px;
  margin: 1rem;

}

.blu{
    color: rgb(83, 204, 255);
    font-size: 42px;
}

  .line-break{
    float: left;
    width: 10%;
    height: 2.5px;
    margin: 10px 0;
    border: 4px dotted  rgb(83, 204, 255);
    border-style: none none solid; 
    color: #fff; 
  }

  
  li{
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-size: 18px;
  }

  a, a:hover{
    text-decoration: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }

  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li{
    list-style: none;
  }
  
  .navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  }
  
  .navbar-links li a:hover{
    color: rgb(83, 204, 255);
  }
  
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media(max-width: 600px) {
    .toggle-button{
      display: flex;
    }
    .navbar-links{
      display: none;
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul{
      width: 100%;
      flex-direction: column;
    }
    .navbar-links li{
      text-align: center;
    }
    .navbar-links li a{
      padding: .5rem 1rem;
    }
    .navbar-links.active{
      display: flex;
    }
  }


  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: black;
}

.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
}

.filter_buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button.active{
    background:rgb(83, 204, 255);
    color: #fff;
}

.filterable_cards{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.rwcard{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.rwcard.hide{
    display: none;
}

.rwcard img{
    width:100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.rwcard_body{
    padding: 15px 20px 20px;
}

.rwcard_title{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.rwcard_text{
    font-size: 18px;
    color: #333;
    margin: 0;
}