body{
    margin: 0;
    padding: 0;
  }

.blu{
    color: rgb(83, 204, 255);
    font-size: 42px;
}

  .line-break{
    float: left;
    width: 10%;
    height: 2.5px;
    margin: 10px 0;
    border: 4px dotted  rgb(83, 204, 255);
    border-style: none none solid; 
    color: #fff; 
  }

  
  li{
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-size: 18px;
  }

  a, a:hover{
    text-decoration: none;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li{
    list-style: none;
  }
  
  .navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  }
  
  .navbar-links li a:hover{
    color: rgb(83, 204, 255);
  }
  
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media(max-width: 600px) {
    .toggle-button{
      display: flex;
    }
    .navbar-links{
      display: none;
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul{
      width: 100%;
      flex-direction: column;
    }
    .navbar-links li{
      text-align: center;
    }
    .navbar-links li a{
      padding: .5rem 1rem;
    }
    .navbar-links.active{
      display: flex;
    }
  }